<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças na área!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card
    valor = {{conta.pagar.valor}}
    tipo="pagar"
    num = {{conta.pagar.num}}
    ></dash-card>

  <dash-card
    tipo="receber"
    valor = {{conta.receber.valor}}
    num = {{conta.receber.num}}
    ></dash-card>

  <dash-card
    tipo="saldo"
    valor = "600,00"
    num = "15"
    ></dash-card>

  <div id="btnMenu">
    <ion-button fill="clear" [routerLink]="['/contas/pagar']" expand="block">Contas a pagar</ion-button>
    <ion-button fill="clear" [routerLink]="['/contas/receber']" expand="block">Contas a receber</ion-button>
  </div>

</ion-content>