<IonCard>
  <IonItem>
  <IonIcon icon="{{icone}}" slot="start" />
    <IonLabel><b>{{titulo}}</b></IonLabel>
  </IonItem>

  <IonCardContent>
    <ion-row>
      <ion-col size="2">
        <ion-badge color="{{cor}}">{{num}}</ion-badge>
      </ion-col>
      <ion-col>
        <ion-text><p class="ion text-center" color="{{cor}}">{{valor | currency: 'BLR':true }}</p></ion-text>
      </ion-col>
    </ion-row>
  </IonCardContent> 
</IonCard>
